.app-bar {
  &.MuiAppBar-root {
    padding: 10px;
  }
}

.app-bar-logo {
  width: 40px;
}

.app-bar-mis-logo {
  width: 60px;
}

.app-bar-system-title {
  &.MuiTypography-root {
    font-size: 25px;
    font-weight: 600;
    background-image: linear-gradient(to bottom right, #d32e12, #299826);
    background-clip: text;
    letter-spacing: -1.5px;
    color: transparent;
  }
}
.app-bar-system-sub-title {
  &.MuiTypography-root {
    font-size: 25px;
    font-weight: 400;
    background-image: linear-gradient(to bottom right, #d32e12, #299826);
    background-clip: text;
    color: transparent;
    letter-spacing: -1.9px;
  }
}

.app-bar-fab {
  &.MuiBox-root {
    position: absolute;
    bottom: 45px;
    z-index: 1;
  }
}

.app-bar-menu-account {
  .MuiPaper-root {
    min-width: 250px;
  }
}

.app-bar-fab.open {
  &.MuiBox-root {
    bottom: 310px;
  }
}

.app-bar-content-box {
  &.MuiBox-root {
    max-height: 72vh;
  }
}

@media (min-width: 170px) {
  .app-bar-fab.open {
    &.MuiBox-root {
      bottom: 140px;
    }
  }
}

@media (min-width: 260px) {
  .app-bar-fab.open {
    &.MuiBox-root {
      bottom: 95px;
    }
  }
}
