.change-password-modal-box-container {
  &.MuiBox-root {
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
}

.change-password-modal-stack {
  &.MuiStack-root {
    padding: 20px;
  }
}

.password-change-modal-image {
  width: 25%;
}

.change-password-modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.change-password-modal-textField {
  &.MuiFormControl-root {
    min-height: 4rem;
    min-width: 200px;
    .MuiFormLabel-root {
      font-family: "Roboto";
      letter-spacing: 1px;
    }
    .MuiInputBase-root {
      border-radius: 10px;
      font-family: "Roboto";
      letter-spacing: 1px;
    }
    .MuiFormHelperText-root {
      font-family: "Roboto";
      letter-spacing: 1px;
    }
  }
}

.change-password-button {
  &.MuiButtonBase-root {
    text-transform: capitalize;
    max-width: fit-content;
  }
}

@media (min-width: 375px) {
  .change-password-modal-textField {
    &.MuiFormControl-root {
      min-width: 270px;
    }
  }
}

@media (min-width: 720px) {
  .change-password-modal-textField {
    &.MuiFormControl-root {
      min-width: 300px;
    }
  }
}
