.swiper {
  width: 90%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;
  height: 250px;
}

.swiper-slide img {
  display: block;
  width: 80%;
}
